<div class="row">
  <aside class="col-md-4">
    <%= render 'show_header' %>    
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @users.any? %>
      <h3><%= @title %> (<%= @users.count %>)</h3>
      <% @users.each do |i| %>
        <ol  class="users follow">
          <section>
          <%= gravatar_for i %>
          <h3><%=link_to i.name, i %></h3>
          </section>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>